body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

html{
    box-sizing:border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.pizzas{
    max-width:90vw;
}
.pizza > img{
    max-width:100%;
}

.page_background {
	height: 800vh;
	width: 110vw;
	position: fixed;
	overflow: hidden;
    z-index:-1;
	background: url("./bgb.png"), linear-gradient(120deg, rgb(40, 0, 0) 500px, rgba(0, 0, 0, 0.9) 1000px, rgb(0, 58, 68) 1750px);
}

@media (max-width: 600px) {
}
