:root {
  --pizza-anim-delay: 1s;
  --bg-red: rgb(40, 0, 0);
  --bg-green: rgba(0, 58, 68);
}
body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

html{
    box-sizing:border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header{
    display:flex;
    flex-wrap:wrap;
    z-index:1000;
    margin: auto;
    padding: 10px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
#es, #tel{
    margin: 0 auto;
    padding-top: 20px;
    font-size: 30px;
    color: white;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    text-align: center;
}

.button {
    font-family: 'Bowlby One SC', cursive;
    font-weight: bolder;
    border-radius: 10px;
    background-color: #300505;
    border: 5px solid #000000;
    color: #ffffff;
    padding: 15px 32px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
  }

header > div > a{
    color: rgb(0, 0, 0);
}
#logo-svg {
    animation-name: fadeInFromNone;
    animation-duration: 1900ms;
    animation-fill-mode: forwards;
    margin: auto;
}
.pizzas{

    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin-left:5vw;
    max-width:90vw;
}
.pizza > img{
    opacity:0;
    max-width:100%;
    position: relative;
    animation-delay: var(--pizza-anim-delay);
    animation-duration: 1.4s;
    animation-fill-mode:forwards;
    animation-timing-function: ease-out;
    animation-name: slidein_down;
}

.page_background {
    top: calc(100vh - 2000px);
	height: 800vh;
	width: 110vw;
	position: fixed;
	overflow: hidden;
    z-index:-1;
	background: url("./bgb.png"), linear-gradient(120deg, var(--bg-red) 500px, rgba(0, 0, 0, 0.9) 1000px, var(--bg-green) 1750px);
}

@media (max-width: 800px) {
    .button{
        position:relative;
        width:100vw;
        margin: 0;
    }
}



@keyframes slidein_down{
  from {
      opacity:1;
    top: -1000px;
  }


  to {
      opacity:1;
    top: 0px;
  }
}
@-webkit-keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }66% {
        opacity: .25;
    }90% {
        opacity: .6;
    }100% {
        opacity: 1;
    }

}